@import url('https://fonts.googleapis.com/css?family=Raleway|Raleway+Dots');

@light-grey: #efefef;
@white: #fff;
@size-block: 90%;
@link-color: #373737;
@link-color-hover: #ce802a;
@blur: blur(10px);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

.content-blur {
	filter: @blur;
}

.main-container {
	max-width: 1600px;
	width: 100%;
	height: 4851px;
	background-color: @white;
	padding-top: 50px;

	/*----------------- MENU ---------------------*/

	.menu {
		position: fixed;
		top: 89px;
		left: 110px;
		width: 100%;
		z-index: 999;

		div {
			float: left;
			display: block;
		}
		#burger-container {
			z-index: 99999;
			#burger {
				cursor: pointer;
				display: block;

				span {
					background: #000;
					display: block;
					width: 30px;
					height: 3px;
					margin-bottom: 3px;
					position: relative;
					top: 0;
					transition: all ease-in-out 0.4s;
				}
			}
			&.open {

				span {

					&:nth-child(2), &:nth-child(3) {
						width: 0;
						opacity: 0;
					}

					&:nth-child(1) {
						transform: rotate(-45deg);
						top: 10px !important;
					}
					&:nth-child(4) {
						transform: rotate(45deg);
						top: -8px !important;
					}
				}

			}

		}
		.menu-list {
			width: 600px;
			height: 40px;
			transition: all ease-in-out 0.3s;
			transform: translateX(-1000px) scale(0);

			ul {
				margin: 0;
				position: relative;
				list-style: none;
				li {
					display: block;
					float: left;
					margin: 0 10px;
					&:first-child {
						margin-left: 20px;
					}
					a {
						text-decoration: none;
						color: @link-color;
						font-size: 20px;
						&:hover {
							color: @link-color-hover;
						}
					}
				}
			}
			&.menu-open {
				transform: translateX(0px) scale(1);
				display: block;
				background: filter(blur(10px));
			}
		}
	}

	.slide {
		max-width: 1500px;
		width: @size-block;
		height: 750px;
		background-color: @light-grey;
		margin: 0 auto 50px;
	}

	/*------------------------------------FIRST SLIDE----------------------------------------*/

	.home {
		position: relative;

		.home-content {
			position: absolute;
			width: 100%;
			height: 100%;
			background-image: url("/images/photograph.png");
			background-size: contain;
			background-position: bottom;
			background-repeat: no-repeat;

			.home-left-block {
				display: flex;
				width: 50%;
				height: 100%;
				float: left;
				background-image: url("/images/A.png");
				background-size: contain;
				background-repeat: no-repeat;
				background-position-x: 9px;

				.home-text {
					width: 70%;
					margin: auto;
					line-height: 25px;
					p {
						margin: 20px 0;
					}
					.head {
						font-size: 40px;
						span {
							font-weight: bold;
						}
					}
					.vertical-line {
						display: block;
						height: 70px;
						border-left: 2px solid grey;
					}

				}
			}

		}
	}

	/*-----------------------------------------SECOND SLIDE-----------------------------------------*/

	.about {
		.about-content {
			width: 100%;
			height: 100%;
			background: url("/images/P.png") no-repeat;
			background-position-x: 93px;
			background-size: contain;

			.about-left-content {
				float: left;
				display: inline-block;
				width: 55%;
				height: 100%;
				background: url("/images/camera.png") no-repeat;
				background-position-x: center;
				background-position-y: center;
				background-size: contain;
			}
			.about-right-content {
				width: 45%;
				height: 100%;
				display: flex;
				.about-text {
					margin: auto;
					width: 80%;
					line-height: 25px;
					.horizontal-line {
						width: 60px;
						margin: 0 10px 15px 0;
						display: inline-block;
						border-top: 2px solid grey;
					}
					.head {
						display: inline-block;
						font-size: 40px;
						span {
							font-weight: bold;
						}
					}
					p {
						margin: 20px 0;

					}
					.social-icon {
						a {
							margin: 0 10px;
							&:first-child {
								margin-left: 0;
							}

						}
					}
				}

			}
		}
	}

	/*-------------------------------------THIRD SLIDE---------------------------------------*/

	.portfolio-showcase-1 {
		display: block;
		position: relative;

		button {
			outline: none;
			background: none;
			border: none;
			font-size: 20px;
			color: #fff;

			&:hover {
				cursor: pointer;
			}
		}

		/*-------------SLIDER--------------*/

		.slider {
			width: 100%;
			height: 100%;
			position: relative;
			top: 0px;
			left: 0;
			right: 0;

			.img {

				position: absolute;
				display: none;
				width: 100%;
				height: 100%;

				&.curry {
					display: block;
				}
				&:nth-child(1) {
					background: url("/images/slider/filter-175301_1920.jpg") center no-repeat;
					background-size: cover;
				}
				&:nth-child(2) {
					background: url("/images/slider/dog-188273_1920.jpg") center no-repeat;
					background-size: cover;
				}
				&:nth-child(3) {
					background: url("/images/slider/rain-2538429_1920.jpg") center no-repeat;
					background-size: cover;
				}
				&:nth-child(4) {
					background: url("/images/slider/model-2303361_1920.jpg") center no-repeat;
					background-size: cover;
				}
			}
		}
		.prev {
			position: absolute;
			top: 50%;
			left: 5%;
		}
		.next {
			position: absolute;
			top: 50%;
			right: 5%;
		}
		.n {
			display: inline;
			z-index: 999;

			&:hover {
				cursor: pointer;
			}
			img {
				background-color: white;
			}
		}
		.left-content {
			width: 40%;
			height: 100%;
			position: absolute;
			background: url("/images/O.png") center no-repeat;
			background-size: contain;
			filter: invert(100%) opacity(0.2);
			top: 0;
		}

	}

}